body
  color: #222;
  word-wrap: break-word;
  margin: 0px
a
  color: #003371
  text-decoration: none
  cursor: pointer
  
a:hover
  text-decoration: underline

.context-menu
  border: 1px solid #999
  background-color: #fff
  padding: 5px 10px 10px 10px
  min-width: 120px
  min-height: 180px

  li
    list-style: none
    padding: 5px
button
  color: #003371
  border: none
  background: transparent
  cursor: pointer
  outline: none
button:hover
  color: #888
  // background-color: #ccc
  // font-weight: bold
  
.dominateHue
  color: #003371

.small-hint
  font-size: x-small;
  color: #888;

.mid-hint
  font-size: 13px;
  color: #888;

.text
  color: #222
  line-height: 30px;
  font-weight: bold;

.left5
  margin-left: 5px

.loading
  background-color: #003371;
  position: fixed;
  padding: 10px;
