.entrance
  margin: 34px 0
  width: 202px
  .inputs
    .signin
      // display: none
    .signup
      // display: none
    .name, .operation, .email, .password
      margin-top: 18px
    .email, .password, .first, .last
      background: #e7f1f8
      font-size: 15px
      border: 1px solid #003e70
      border-radius: 5px
      padding: 8px 10px
      box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 1px 0 rgba(255,255,255,.15)
      width: 180px
      color: #555
      line-height: 17px
    input:focus
      background: #fff
      outline: 0
      box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 0 10px rgba(255,255,255,.3)
      border: 1px solid #197CC9
      outline-offset: -2px
    button
      width: 100%
      text-align: center
      font-size: 15px
      text-shadow: 0 1px 1px rgba(0,0,0,.2)
      border-radius: 5px
      cursor: pointer
      line-height: 33px
      display: block
      padding: 0 15px
      margin-top: 18px
      background: #80C3F7
      color: #fff
      text-shadow: 0 1px 1px rgba(0,0,0,.2)
  .social
    margin-top: 18px
    .links
      margin-left: 10px
      i
        margin: 0 5px
.right
  float: right
