.shows
  margin: 70px auto;
  width: 1000px;
  .page
    .page-title 
      color: #333
      font-size: 36px
      border-bottom: 1px solid #eee;

    .block
      .block-title
        color: #333
        font-size:24px
.clear
  clear: both

